.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
label{
  color: #363636;
  display: block;
  font-size: 1rem;
  font-weight: 700;
}
.heading{
  font-size: 2em;
  border-bottom: 1px solid rgb(248, 248, 248);
  margin-bottom: 25px;
}

input{
  box-sizing: border-box;
  box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
}
.post_data{
  border:2px solid white;
  padding: 20px;
  border-radius: 5px;
  box-shadow:0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02)
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.data-tech{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:50px;
}
nav{
  display: flex;
  
  position: absolute;  bottom: 0;
  justify-content: center;

}
.page{

  color: black;
  padding: 8px 16px;
  text-decoration: none;
  border:none;
  margin: 0px 2px;
}
#active_page{

  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}
.page:hover:not(#active_page) {
  background-color: #ddd;
  border-radius: 5px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
